.big-icon-40{
    font-size: 220px;
}

a:hover{
  color: #ffffff !important;
    text-decoration: none !important;
}
img{
    width: 100%;
    height: auto;
}
figure > a>img{
    width: 75%;
    height: auto;
     margin: 0 auto;
}
.hr {
    margin-top: 40px;
    margin-bottom: 40px;
    border-color: #727878;
    opacity: 0.2;
}
p.lead {
    text-align: center;
    color: #727878;
}
.fixed-bg{
    background-image: url('images/snowymountain.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.body-class {
    background-color: #F3EFE0;
    font-size: 15px;
    line-height: 1.64;
}

h1 {
    padding-bottom: 20px;
    border-bottom: 1px solid #FFFFFF;
    border-bottom-color: rgba(255,255,255,0.35);
    display: inline-block;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, strong, b {
    font-family: 'Open Sans', sans-serif !important;
    margin-bottom: 20px;
}


/* Font size */

.font-63{
    font-size: 63px;
}
.font-54{
    font-size: 54px;
}
.font-28{
    font-size: 28px;
}
.font-20{
    font-size: 18px;
}

/* Font color */

.font-white{
    color: #FFFFFF;
}

.font-green{
    color: #22A39F;
}

.font-grey{
    color: #434242;
}
.font-lightgrey{
    color: #727878;
}
/* text center */

.text-center{
    text-align: center;
}

/*font weight*/
.fontweight-700{
    font-weight: 700
}
.fontweight-300{
    font-weight: 300
}
.fontweight-200{
    font-weight: 200
}

.block-display{
    display: block;
}
.top-28-percent{
    top: 28%;
}

.pos-relative{
    position: relative;
}

.background-white{
    background-color: #ffffff;
}
.background-grey{
    background-color: #434242;
}
.margin-bottom-20{
    margin-bottom: 20px;
}

.font-sans{
        font-family: 'Open Sans', sans-serif !important;
}

.container {
    max-width: 1280px;
}

.padding{
    padding: 40px 180px;
}
.margin-top-8{
    margin-top: 8px;
}

.margin-right-20{
    margin-right: 20px;
}
.margin-bottom-10{
    margin-bottom: 10px;
}

.no-bullets{
        list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.glyphicon{
    color:#DFE0E0;
}
.glyphicon.filled{
    color:#22A39F;
}

ul > li{
        min-height: 30px;
    padding: 3px 0px;
}
